@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap);

@import 'tailwindcss';

@layer components {
   .input {
      @apply rounded-full border border-stone-200 px-4 py-2 text-sm transition-all duration-300 placeholder:text-stone-400 focus:ring focus:ring-yellow-400 focus:outline-none md:px-6 md:py-3;
   }
}
@theme {
   --font-roboto: 'Roboto', sans-serif;
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
   width: 45px;
   aspect-ratio: 0.75;
   --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
   background:
      var(--c) 0% 50%,
      var(--c) 50% 50%,
      var(--c) 100% 50%;
   background-size: 20% 50%;
   animation: loading 1s infinite linear;
}

@keyframes loading {
   20% {
      background-position:
         0% 0%,
         50% 50%,
         100% 50%;
   }

   40% {
      background-position:
         0% 100%,
         50% 0%,
         100% 50%;
   }

   60% {
      background-position:
         0% 50%,
         50% 100%,
         100% 0%;
   }

   80% {
      background-position:
         0% 50%,
         50% 50%,
         100% 100%;
   }
}
